.agenix-magnify-container {
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.agenix-magnify-lens {
    position: absolute;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    overflow: hidden;
    pointer-events: none;
    display: none;
    z-index: 99;
}

.agenix-magnify-lens img {
    position: absolute;
    max-width: none;
    max-height: none;
    transform-origin: top left;
}

